.review-root {
    margin: 1em 0 0 15px;
}

.select-star-bar {
    border: none;
    border-right: 1px solid black;
    place-items: center;
    height: 3.3em;
    background: rgba(241, 241, 241, 0.622);
    margin: 0;
    font-size: 14px;
    color: inherit;
    border-radius: 4px 0 0 4px;
    font-size: 14pt;
    position: absolute;
}

.review-box {
    border: none;
    width: 350px;
    height: 48px;
    background: rgba(241, 241, 241, 0.622);
    margin: 0;
    margin-left: 57px;
    padding: 7px 8px;
    font-size: 8px;
    color: inherit;
    font-size: 10pt;
    position: relative;
}

.submit-review {
    position: absolute;
    width: 5em;
    height: 62px;
    margin-bottom: 7em;
    background-color: rgba(241, 241, 241, 0.622);
    border: 0;
    border-left: 1px solid black;
    border-radius: 0 4px 4px 0;
}

