.review-container {
    background-color: rgba(241, 241, 241, 0.822);
    width: 300px;
    margin-top: 10px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 10px;
}


.user-rating {
    font-size: 14pt;
}

