.nav-bar-root {

    display: flex;
    justify-content: space-between;

    transition: 0.3s;
    
    /* background-color: hsla(0, 0%, 81%, 0.7);
    backdrop-filter: blur(4px); */
    
    background-color: #dfe4e0a0;
    backdrop-filter: blur(10px);
    
    padding: 0 2rem 0 2rem;

    
}

.nav-bar-root, 
.nav-bar-root button{
    font-size: 14pt;
    font-family: inherit;
    color: rgb(255, 255, 255);
    font-weight: bolder;    
}

.nav-bar-root button {
    
    background: none;
    border: none;
    
    padding: 1rem;
    
    cursor: pointer;   
}

.nav-bar-root button:hover {
    background: none;
    color: white;
}

.nav-bar-root .nav-bar-right #my-drinks{
    text-decoration: none;
}