.nav-bar-root {
    padding: 5px;  

    display: flex;
    justify-content: space-between;

    transition: 0.3s;
}

.nav-bar-root button {
    
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.718);
    cursor: pointer;
}

.nav-bar-root button:hover {
    background: none;
    color: white;
}

.nav-bar-root .nav-bar-right #my-drinks{
    text-decoration: none;
}