.drink-card-container{
    width: 10em;
    height: 14em;
    margin: auto;
    margin-top: 2em;
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
    text-align: center;
    max-width: 10em;
    background-color: #dfe4e0a0;
    backdrop-filter: blur(10px);

    }

.link-card {
    text-decoration: none;

}

.drink-card-name {
    color: #3a3a3a;
}



.drink-card-container .icon-container{
    position: absolute;
    bottom: -5px;
    right: -2px;
    color: #F74447;
    padding: 1rem;
}

.drink-card-root img {
    max-width: 7em;
    max-height: 7em;
    border-radius: 50%;
}
