.drink-card-root{
    width: fit-content;
    margin: auto;
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(241, 241, 241, 0.622);
    z-index: 0;
    }

.drink-card-root .icon-container{
    position: absolute;
    bottom: .5rem;
    right: 0.75em;
    color: #F74447;
    z-index: 100;
}

.drink-card-root img {
    max-width: 7em;
    max-height: 7em;
    border-radius: 50%;
}
