.individual-drink-page-card {
    background-color: #dfe4e0a0;
    backdrop-filter: blur(10px);
    width: 50em;
    margin: auto;
    margin-top: 3em;
    padding: 15px 24px 5px 15px;
    border-radius: 15px;
    
    position: relative;
}

.ind-drink-name {
    position: absolute;
    left: 16.5em; 
    top: 2.5em;
    width: 30em;
    color: #3a3a3a;
    font: 300 1.5em 'Pacifico', cursive; 
}


.ingredients-container h3, .drink-instructions h3 {
    /* position: absolute; */
    margin-bottom: .75em;
    color: rgb(66, 68, 68);
  

}
.individual-drink-page-root .ind-drink-image {
    width: 20em;
    height: 18em;
    border-radius: 25px;
    opacity: 1;
    margin-top: 55px;
    margin-left: 1em;
}
.ingredients-container{
    top: 7.1em;
    left: 25em;
    position: absolute;
    font-size: 12pt;
    height: fit-content;
}
.instructions-container {
    position: absolute;
    top: 9.8em;
    left: 38em;
    width: fit-content;
}
.drink-instructions {
    margin-top: 1em;
    padding: 20px;
    padding-top: 1em;
}
.ind-ingredients,
.ind-instructions {
    margin-bottom: .5em;
}
.ind-drink-heart {
    position: absolute;
    top: 1em;
    right: 20px;
    font-size: 24pt;
    color: red;
}
 .random-drink-button {
    border: none;
    border-radius: .5rem;
    
    background-color: #fee;
  
    color: #3a3a3a;
    font: 300 1.5em 'Pacifico', cursive;
  
    
    padding: 1rem 8rem;
    margin: 1rem auto;
    width: fit-content;
    display: block;
    
    cursor: pointer;
  }
