body {
    display: grid;
    place-items: center;
}
.login-form, .sign-up-form {
    background-color: #A5AF7F;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    width: 30rem;
    margin: auto;
    align-items: center;
    text-align: center;
}

.sign-up-form {
    background-color: hwb(14 35% 15%);
}
    


.input-container {
    margin: auto;
    width: 20rem;
}

input {
    border: none;
    height: 4rem;
    width: 100%;
}

.password-input {
    padding-top: 1rem;
}

label {
    display:none;
}

