@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html,
body {
  height: 100%
}

body {
  background-image: url('https://images.unsplash.com/photo-1623593688280-a5aec8ac4ae7?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987');

  margin: 0;
  background-size: cover;
}

.app-container .toggle {
  font-size: 16pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: fit-content;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


.app-container .logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  margin-top: 5rem;
  user-select: none;
}

.app-container .logo b {
  font: 300 16vh 'Pacifico', cursive;
  ;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
  line-height: 6rem;
}

.app-container .hooray {
  margin-top: .4em;
}


.app-container .random-drink-button {
  border: none;
  background-color: white;
  font: black;
  padding: 1rem 3rem;
  border-radius: 1.75rem;
  margin: auto;
  margin-top: 20em;
  font-size: 1.5rem;
  cursor: pointer;
}